.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item div {
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
}

.item img {
    max-height: 100px;
    width: auto;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav>* {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav h1,
.nav h4 {
    font-weight: 600;
}

/*
    Media Queries 
*/
@media(max-width:900px) {
    .nav>* {
        margin: 20px;
    }
}