.h1 {
    letter-spacing: -5px;
    word-spacing: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 120px 0;
    font-size: 4rem;
    color: rgb(225, 78, 78);
    position: relative;
}

.h1::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(225, 78, 78);
    transform: scaleX(0);
    /* Initially hidden */
    transform-origin: left;
    transition: transform 0.3s ease;
    /* Animation duration and timing */
}

.h1:hover::before {
    transform: scaleX(1);
    /* Animate the underline from left to right */
}

.h1:hover {
    text-decoration: none;
    /* Remove default underline */
    transform: scale(1.05);
    /* Scale the entire element on hover */
}