.navbar{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.ham{
    z-index: 2;
}
.emilia{
    height: 70px;
}
.emilia:hover{
    cursor: pointer;
}
.shop{
    border: 0.1px solid rgb(0, 0, 0, 0.1);
    height: 60px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Fill styles */
    background-size: 200% 200%;
    transition: background-position 400ms, color 400ms ease, border-color 400ms ease;
}
.shop:hover{
    cursor: pointer;
    border: 0.1px solid rgb(0, 0, 0, 0);
    background-image: linear-gradient(to top, #ffffff 51%, transparent 50%);
    background-position: 0 100%;
    transition: background-position 400ms, color 400ms ease, border-color 400ms ease;
}


/* 
    Media Queries
*/
@media(max-width:1000px){
    .navbar{
        height: 10vh;
        align-items: center;
        border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    }
    .emilia{
        height: 38px;
    }
    .shop{
        display: none;
    }
}