.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.item {
  min-height: 100vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item > div {
  width: 49%;
  margin: 1vh;
}
.imgDiv {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgDiv img {
  max-height: 100%;
}
.descDiv {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  word-wrap: normal;
  background-color: rgb(254, 242, 226, 0.5);
  box-shadow: 4px 4px 14px -3px rgba(0, 0, 0, 0.53);
}
.descDiv > * {
  margin: 0 20px;
}
.descDiv section:hover {
  cursor: pointer;
}

.descDiv section *:hover {
  cursor: pointer;
}
.descDiv > h1 {
  color: rgb(235, 14, 14);
}
.descDiv > h3 {
  background-color: rgb(235, 14, 14);
  padding: 5px;
  border-radius: 4px;
}
.descDiv > h3 * {
  color: white;
}
.descDiv label {
  padding: 10px;
  width: 220px;
  background-color: rgb(254, 185, 26);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 4px 4px 14px -3px rgba(0, 0, 0, 0.2);
}

.descDiv label:hover {
  cursor: pointer;
  background-color: rgb(211, 40, 40);
  color: white;
}

.clr {
  width: 80%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clr h1 {
  margin-top: 50px;
  font-size: 4rem;
}
.clr > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clr > div > div {
  min-height: 100px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clr > div > div * {
  margin: 8px;
}
.clr > div > div > div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* 
    Media Queries
*/
@media (max-width: 1200px) {
  .item {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .item {
    flex-direction: column;
  }
  .item > div {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .container {
    padding-top: 20px;
  }
  .descDiv {
    height: 55vh;
  }
  .clr {
    width: 90%;
  }
}
