.order {
  text-align: center;
  background-color: rgb(239, 236, 236);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.order h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 600;
  color: rgb(233, 11, 48);
}
.order h2 {
  font-size: 1.6rem;
  word-spacing: 3px;
  margin-bottom: 40px;
  color: rgb(255, 254, 254);
  background-color: rgba(215, 18, 18, 0.8);
  border-radius: 8px;
  padding: 15px;
}

.order button {
  padding: 10px;
  background-color: rgb(233, 11, 48);
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.1s ease;
}
.order button * {
  color: #ffffff;
}
.order button:hover {
  background-color: rgb(236, 176, 22);
}

.order > div {
  min-width: 600px;
  padding: 20px;
  border: 1px solid rgb(233, 11, 48, 0.5);
  border-radius: 2rem;
}

.order > div > div {
  border: 1px solid #bdbcbc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 9px 9px 23px -13px rgba(0, 0, 0, 0.52);
}
/* 
    Media Queries
*/
@media (max-width: 500px) {
  .order h1 {
    font-size: 1.6rem;
    margin-bottom: 40px;
    font-weight: 600;
    color: rgb(233, 11, 48);
  }
}
