.shop{
    /* background-color: rgb(246, 242, 238); */
    background-color: rgb(255, 254, 237);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.shop > div{
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav > *{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav h1, .nav h4{
    font-weight: 600;
}
.shopOurProducts{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(235, 14, 14);
}
.shopOurProducts > h1{
    font-size: 10rem;
}
.shopOurProducts p{
    font-size: 1.3rem;
}
.brands > div{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.brands h1{
    white-space: nowrap;
    margin: 20px;
}

/*
    Media Queries 
*/
@media(max-width:900px){
    .nav > *{
        margin: 20px;
    }
}