.shop{
    background-color: rgb(255, 254, 237);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop > div{
    width: 100%;
}
.shopOurProducts{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(235, 14, 14);
}
.shopOurProducts > h1{
    font-size: 10rem;
}
.shopOurProducts p{
    font-size: 1.3rem;
}
.Row{
    margin: 20px 0;
    min-height: 14rem;
}
.Row >div::-webkit-scrollbar{
    display: none;
}
.Row > div{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.Row  h1{
    white-space: nowrap;
    margin: 30px;
    font-weight: 600;
    transition: transform 0.3s ease;
}
.Row > div h1:hover {
    transform: scale(1.1);
}
.Row h1 *{
    color: rgb(169, 7, 35);
}
.shop button{
    margin: 50px 0;
    background: transparent;
    font-size: 1.3rem;
    border-radius: 3rem;
    padding: 20px 33px;
    letter-spacing: 1px;
    border: 1px solid black;
    
    transition: transform 0.3s ease;
}
.shop button:hover{
    border: 1px solid rgb(169, 7, 35);
    color: rgb(169, 7, 35);
    cursor: pointer;
    transform: scale(1.1);
}
/*
    Media Queries 
*/
@media(max-width:900px){
    .shopOurProducts > h1{
        font-size: 9rem;
    }
    .Row{
        min-height: 12rem;
    }
    .Row h1{
        margin: 20px;
    }
}