.cover{
    background-color: rgb(244, 199, 82);
    height: 120vh;
}
/* .menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(105, 244, 244);
} */