.cover{
    background-color: rgb(244, 199, 82);
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/*
    Media Queries
*/
@media(max-width:900px){
    .cover{
        height: 130vh;
    }
}
@media(max-width:700px){
    .cover{
        height: 110vh;
    }
}