.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > div{
    background-image: linear-gradient(315deg, #f39d14 0%, #ffdd00 100%);
}
.container > form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formDiv{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.formDiv > *{
    width: 100%;
}
.formDiv > input{
    max-width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.08);
    padding-left: 10px;
}
.formDiv button{
    padding: 5px;
}


/*
    Media Queries
*/
@media(max-width:900px){
    .container{
        flex-direction: column;
        height: 150vh;
    }
    .right {
        width: 100%;
        height: 50%;
    }
}